---
import type { IRecommendation } from '@services/user-info/domain/interfaces/recommendation.interface'
import LinkedInIcon from '../icons/LinkedInIcon.astro'
import ArrowRightIcon from '../icons/ArrowRightIcon.astro'
type Props = IRecommendation
const { name, role, body, img, linkedIn } = Astro.props
---

<div
	class:list={[
		'relative w-72 cursor-pointer overflow-hidden rounded-xl border p-4 md:w-96',
		'border-border hover:bg-bunker-900'
	]}
>
	<div class='flex h-full w-full min-w-full flex-col gap-2'>
		{
			(
				<a
					href={linkedIn || '#recommendations'}
					class='flex flex-row items-center gap-2'
				>
					<img
						class='rounded-full'
						width='48'
						height='48'
						alt={name}
						src={img}
						loading='lazy'
					/>
					<div class='flex flex-col'>
						<div class='group flex items-center gap-1'>
							<LinkedInIcon class='w-3 ' />
							<figcaption class='text-sm font-medium text-card-foreground'>
								{name}
							</figcaption>
							<ArrowRightIcon class='w-0 duration-200 group-hover:w-4' />
						</div>
						<p class='line-clamp-2 text-start text-xs font-medium text-secondary-foreground'>
							{role}
						</p>
					</div>
				</a>
			)
		}

		<div class='min-w-full flex-1'>
			<blockquote
				class:list={['text-justify text-sm', body.length > 1 && 'line-clamp-4']}
			>
				{body[0]}
			</blockquote>
		</div>
	</div>
</div>
