---
import LinkIcon from '@components/ui/icons/LinkIcon.astro'
import TimeLineItem from '@components/ui/time-line-item/TimeLineItem.astro'
import { userInfo } from '@services/user-info/infrastructure/user-info'
import BriefcaseBusinessIcon from '@components/ui/icons/BriefcaseBusinessIcon.astro'
const user = userInfo
---

<div class='flex flex-col gap-5'>
	<a
		href='#experience'
		class='group flex flex-row items-center'
	>
		<LinkIcon class='w-0 duration-200 group-hover:w-6' />
		<div class='animate-fade-in-blur'>
			<h2>Experience</h2>
		</div>
	</a>

	<div>
		{
			user.experience.map((experience) => (
				<div class='animate-fade-in-blur'>
					<TimeLineItem
						from={experience.from}
						to={experience.to}
						link={experience.companyLink}
						linkLabel={experience.company}
						title={experience.name}
					>
						<BriefcaseBusinessIcon
							class='w-4 h-fit'
							slot='icon'
						/>
					</TimeLineItem>
				</div>
			))
		}
	</div>
</div>
