---
const {
	borderRadius = 8,
	borderWidth = 1,
	duration = 14,
	color = '#000000',
	className,
	children
} = Astro.props
---

<div
	class={`relative grid min-h-[60px] w-fit min-w-[300px] place-items-center rounded-[--border-radius] p-3 dark:bg-background dark:text-foreground ${className}`}
>
	<div
		style={{
			'--border-width': `${borderWidth}px`,
			'--border-radius': `${borderRadius}px`,
			'--duration': `${duration}s`,
			'--mask-linear-gradient':
				'linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)',
			'--background-radial-gradient': `radial-gradient(transparent,transparent, ${Array.isArray(color) ? color.join(',') : color},transparent,transparent)`
		}}
		class="before:bg-shine-size before:absolute before:inset-0 before:aspect-square before:size-full before:rounded-[--border-radius] before:p-[--border-width] before:will-change-[background-position] before:content-[''] before:![-webkit-mask-composite:xor] before:[background-image:--background-radial-gradient] before:[background-size:300%_300%] before:![mask-composite:exclude] before:[mask:--mask-linear-gradient] motion-safe:before:animate-shine"
	>
	</div>
	{children}
</div>
